body {
      background-color: skyblue;
}

button {
        font-style: italic;
        background-color: #6495ED;
        color: white;
        border-color: white;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-width: 4px;
        border-color: black;
}

input {
       height: 30px;
}

.card {
       width: 400px; /* Adjust as needed */
  border: 1px solid #ccc;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 30px;
  margin: 15px; /* Space around the card */
  background-color: #fff; /* White background */
  font-family: Arial, sans-serif;
  color: #333;
}

.card-container {
  display: flex; /* Makes the container a flex container */
  min-height: 50vh;
  justify-content: center;
  align-items: center;
}